extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Database", "dropdown_menu", "inverse")
		+nav_item("/") Home 
		+nav_item_dropdown("#")(label="Search")
			+nav_item("/search-text") Search by Text
			+nav_item("/search-markup") Search by Markup
		+nav_item_dropdown("#")(label="Browse the Collection")
			+nav_item("/browse") Browse by Correspondents
	.container
		h3= title
		.container
		p| Welcome to the #{title}. This database collects the letters, diary entries and other documetns assosiated with The Colenco Project. 
		| To learn more about The Colenso Project please visit <a href="http://www.williamcolenso.co.nz/">their website</a>.