extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Database", "dropdown_menu")
		+nav_item("/") Home 
		+nav_item("/search") Search 
		+nav_item_dropdown("#")(label="Browse the Collection ")
			+nav_header All Authors
			+nav_item("/letters", active) Letters
			+nav_item("/diary-entries") Diary Entries
			+nav_divider
			+nav_header Colenso's Documents
			+nav_item("/colenso-diary") Diary
			+nav_item("/private-letters") Private Letters
			+nav_item("/newspaper-letters") Newspaper Letters
			+nav_item("/publications") Publications
	.container
		h1 Browese Letters By Author
		.container
		p| William Broughton, Bishop of Australia
		p|	<a href="william-broughton-1840">1840: William Broughton, Bishop of Australia, to unknown recipients (perhaps within the Anglican church in England?)</a>
		br
		p|	Rev William Charles Cotton MA
		p|	<a href="diary-entries">1846 December 8: Rev. Mr. Cotton to a sister</a>
		br
		p|	Elizabeth Colenso
		p|	<a href="diary-entries">Undated: Elizabeth Colenso to McLean</a>
		p|	<a href="diary-entries">1851 October 29: Elizabeth Colenso to McLean</a>
		br
		p|	Sir Julius von Haast
		p|	<a href="diary-entries">11 July 1867: Haast to Hector.</a>
		p|	<a href="diary-entries">22 July 1881: Haast to Gore.</a>
		p|	<a href="diary-entries">11 May 1883: Haast to Gore.</a>
		p|	<a href="diary-entries">18 May 1883: Haast to Hooker.</a>