extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Database", "dropdown_menu")
		+nav_item("/") Home 
		+nav_item_dropdown("/search-text")(label="Search")
			+nav_item("/search-text") Text Search
			+nav_item("/search-markup", active) Markup Search
		+nav_item_dropdown("#")(label="Browse the Collection ")
			+nav_header All Authors
			+nav_item("/letters") Letters
			+nav_item("/diary-entries") Diary Entries
			+nav_divider
			+nav_header Colenso's Documents
			+nav_item("/colenso-diary") Diary
			+nav_item("/private-letters") Private Letters
			+nav_item("/newspaper-letters") Newspaper Letters
			+nav_item("/publications") Publications
	.container
		h1 Search Markup
	.container
		form(action="/search-markup", method="get")
			input(type="text", name="searchString")
			input(type="submit")
	.container
		p !{results}