extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Database", "dropdown_menu", "inverse")
		+nav_item("/") Home 
		+nav_item_dropdown("/search-text", active)(label="Search")
			+nav_item("/search-text", active) Text Search
			+nav_item("/search-markup") Markup Search
		+nav_item_dropdown("#")(label="Browse the Collection ")
			+nav_header All Authors
			+nav_item("/letters") Letters
			+nav_item("/diary-entries") Diary Entries
			+nav_divider
			+nav_header Colenso's Documents
			+nav_item("/colenso-diary") Diary
			+nav_item("/private-letters") Private Letters
			+nav_item("/newspaper-letters") Newspaper Letters
			+nav_item("/publications") Publications
	.container
		h3 Search Full Text
	if(!visited)
		.container
			p 
			| Enter a text string to search.
			| You can search for multiple strings using AND, OR, and NOT.
			form(action="/search-text", method="get")
				input(type="text", name="searchString")
				input(type="submit")
	else
		.container
			p 
			| Refine Current Search:
			form(action="/search-text", method="get")
				input(type="text", name="searchStringRefined")
				input(type="submit")
			|			OR
			| New search:
			form(action="/search-text", method="get")
				input(type="text", name="searchString")
				input(type="submit")
			br
		ul
			each val, index in results
				li 
					a(href = "#{val.href}") #{val.title}